.about-me {
  margin-top: 3.5rem;
  /* padding: 0 10rem; */
  height: calc(100vh - 3.5rem);
  background-color: #edf6f9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-container {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

.marc-photo {
  height: 30rem;
  width: 23rem;
  background-color: #4da1a8;
  border: 2px solid black;
  border-radius: 1rem;
  background-image: url("../assets/marc.JPG");
  background-size: cover;
  background-position: center;
}

.about-me-container {
  max-width: 50rem;
  /* height: 25rem; */
  padding: 1rem;
  /* background-color: #4da1a8; */
}

.position {
  height: 3rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(39, 39, 39, 0.289);
}

.skills-container {
  margin-top: 3rem;
  border-radius: 0.5rem;
}

.skill {
  height: 3.3rem;
  width: 3.3rem;
  /* background-color: #4da1a8; */
  border-radius: 0.5rem;
  display: inline-block;
  margin-right: 1rem;
  background-size: cover;
  background-position: center;
}

.html {
  background-image: url("../assets/html.png");
}

.css {
  background-image: url("../assets/css.png");
}

.js {
  background-image: url("../assets/js.png");
}

.react {
  background-image: url("../assets/react.png");
}

.node {
  background-image: url("../assets/node.png");
}

.mysql {
  background-image: url("../assets/mysql.png");
}

@media (max-width: 1225px) {
  /* .about-me-container h1 {
    font-size: 3.5rem;
  } */

  .about-container {
    flex-direction: column;
    align-items: center;
  }

  .about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
  }

  .position {
    width: 100%;
    text-align: center;
  }

  .center-text {
    text-align: center;
  }
}
