.testimonials {
  height: 88vh;
  background-color: #edf6f9;
  padding: 6rem 0;
}

.testimonial-header {
  text-align: center;
  margin: 0 auto;
  border-bottom: 2px solid #4da0a87e;
  width: 80vw;
  letter-spacing: 20px;
  /* right: 0;
  position: absolute;
  clip-path: polygon(10% 0, 100% 0%, 100% 100%, 10% 100%, 0% 50%); */
}

.testimonial-container {
  position: absolute;
  height: 100%;
  width: 100vw;
  /* background-color: antiquewhite; */
  padding: 2rem 10rem;
  display: flex;
  /* align-items: center; */
  margin-top: 5rem;
  justify-content: space-evenly;
}

.testimonial {
  z-index: 1;
  height: 20rem;
  width: 35rem;
  border: 2px solid #000000;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  /* background-color: #4da0a8; */
}

.testimonial-photo {
  height: 100%;
  width: 13.5rem;
  background-color: #4da1a8;
  border: 2px solid black;
  border-radius: 1rem;
}

.testimonial-info {
  flex: 1;
  padding: 0.5rem 0;
}

.testimonial-description {
  padding: 0 15rem;
  text-align: center;
  margin-top: 1rem;
}

.testimonial-subheader {
  font-family: "Jaro", sans-serif;
  position: absolute;
  z-index: 1;
  color: #4da0a854;
  top: -5rem;
}
